.projects {
  padding: 5rem 0;
  background-color: #252525;
  color:  white;
}

.projects__container {
  width: 70%;
  margin: auto;
}

.projects__header {
  margin-bottom: 2rem;
  font-size: 2rem;
  position: relative;
  padding : 1rem;
}

.projects__header::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 4px;
  background-color: var(--secondary-color);

}

.projects__content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.5rem;
}

.projects__card {
  width: 45%;
  background-color: #292929;
  text-align: left;
  border-radius: 10px;
  box-shadow: 3px 3px 7px  #111;
}

.projects__card__img {
  width: 100%;
  max-width: 100%;
  height: 200px;
}

.projects__card__title {
  padding: 1rem;
  font-weight: bold;
}

.projects__card__subtitle {
  padding:0 1rem;
}

.projects__card__actions {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.projects__card__links {
  color: white;
  text-decoration:none;
}

.projects__card__preview{
  background-color: var(--secondary-color);
  color: #252525;
  padding: .3rem .8rem;
  border-radius: 5px;
}

.projects__icon {
  padding-top: 8px;
}

@media (max-width: 830px) {

  .projects__container {
    width: 90%;
    margin: auto;
  }
  

  .projects__content {
    display: block;
  }

  .projects__card {
    width: 80%;
    background-color: #292929;
    text-align: left;
    border-radius: 10px;
    box-shadow: 3px 3px 7px  #111;
    margin: 3rem auto;
  }
}