* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  min-height: 100vh;
  margin: auto;
  background-color: var(--primary-color);
  position: relative;
  width: 100%;
}

.header__left, .header__right {
  position: absolute;
  top: 10vh;
  min-height: 97.5vh;
}

.header__left  {
  left: 0;
  width: 60%;
  z-index: 5;
  background-color: var(--primary-color);
  clip-path: polygon( 0 0, 70% 0, 100% 100%, 0 100%) ;
  display: flex;
  align-items: flex-end;
}

.header__left__content {
  text-align: left;
  width: 70%;
  margin-left: 4rem;
}

.header__title {
  color: var(--secondary-color);
  position: relative;
  padding: 1rem 0;
  margin: 1rem 0;
}

.header__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 45%;
  right: 30%;
  border-bottom: 5px  solid var(--secondary-color);
}

.header__subtitle {
  padding: 1rem 0;
  color : white;
}

.header__text {
  color: #8e8e8e; 
  font-size: 1.08rem;
  line-height: 1.5;
}

.header__cta {
  margin: 3rem 0 2rem 0;
  display: flex;
}

.header__link {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  place-items: center;
}

.header__cta__icon {
  margin-right: 5px;
  display: flex;
}

.header__cv {
  color:white;
  margin-right: 3rem;
  background-color: #353535;
  padding: 0.5rem 1rem;
  border-radius: 5px;
 
}

.header__projects {
  padding: .5rem 1.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 3px;
}

.header__social {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 3rem;
  justify-content: space-between; 
}

.header__social__icon {
  margin-right:2rem;
  background-color:  #353535;
  padding: 10px;
  border-radius: 60px;
  display: grid;
  place-items: center;
  /* border: 2px solid orange; */
  cursor: pointer;
}

.header__social__link {
  /* border: 2px solid orange; */
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.header__right  {
  right: 0;
  width: 60%;
  background-position: left;
  background-size: cover;
  z-index: 1;
  height: 97.5vh;
}

.header__right::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #3f3f3f;
  opacity: 0.5;
}
.header__img {
  width: 100%;
  height: 100%;
}


.header__nav {
  list-style-type : none;
  color:white;
  position: absolute;
  top: 0;
  z-index : 5;
  display: flex;
  padding: 1rem 0;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 10vh;
  opacity: 0.8;
}

.header__nav__item  {
  padding: .1rem 2rem;
  white-space:nowrap ;
}

.header__nav__item a  {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 500ms ease;
  border-bottom: 1.5px solid transparent;
  padding-bottom: 3px;
}

.header__nav__item a:hover {
  color: var(--secondary-color);
  border-bottom: 1.5px solid var(--secondary-color);
}

/* Break Points: 830px, 500px;  */

@media (max-width: 830px) {
  .header__left, .header__right {
    position: static;
  }

  .header__left {
    width: 100% ;
    clip-path: none;
    align-items: center;
    padding-top: 3rem;
  }

  .header__right {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__left {
    padding-top: 5rem;
  }
  .header__nav__item  {
    padding: .1rem .9rem;
    white-space:nowrap ;
  }
}
@media (max-width: 400px) {
  .header__left {
    padding-top: 6rem;
  }
  .header__nav__item  {
    padding: .1rem .4rem;
    white-space:nowrap ;
  }

  .header__left__content {
    text-align: left;
    width: 90%;
    margin: auto;
  }

  .header__social__icon {
    margin-right: 1rem;
  }
  .header__link {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    place-items: center;
    padding: 10px;
  }
}